<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--load-->
<load href="__PUBLIC__/js/jquery-1.11.3.js" />

<!--js-->
<js href="__PUBLIC__/js/bootstrap.min.js" />

<!--layer-->
<js href="__PUBLIC__/js/layer/layer.js" />
<js href="__PUBLIC__/js/supplement.js" />
